modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 5004
externalPort = 3003

[[ports]]
localPort = 5005
externalPort = 4200

[[ports]]
localPort = 5006
externalPort = 5000

[[ports]]
localPort = 5007
externalPort = 5173

[[ports]]
localPort = 5008
externalPort = 6000

[[ports]]
localPort = 5009
externalPort = 6800

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://wsbllrkighijlhdvwrup.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzYmxscmtpZ2hpamxoZHZ3cnVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MzM5NTAsImV4cCI6MjA5MDEwOTk1MH0.03FMZ5ci3SgTqh5HtEKgiruch42FF3bA36BS7N6wA8M"
VITE_SUPABASE_PROJECT_ID = "wsbllrkighijlhdvwrup"
